.login_heading {
  margin-top: 5.5rem;

  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: black;
  letter-spacing: 1px;
}

.login {
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white !important;
  margin: 3rem auto;
  width: 70%;
}

.inputLogin {
  height: 2.5rem;
  border-radius: 20px;
  border: 2px solid #eee8e8;
  padding-left: 0.8rem;
  min-width: 100%;
}

.inputLogin:focus {
  border-color: #8c09ff63;
  outline: none;
}

.password_input_wrap {
  position: relative;
  width: 100%;
}

.hide-unhide {
  width: 1.5rem;
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.loginCredentials {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid;
  border-color: hsla(289, 29%, 81%, 0.819);
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.25);
}

.password_labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  margin-top: 0.3rem;
  font-size: 0.7rem;
}

.forgot_password_label {
  cursor: pointer;
  color: blue;
  font-size: 0.7rem;
  margin-right: 0.8rem;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: black; /* text color */
  margin: 1em 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #8c09ff63 !important; /* line style */
}

.divider:not(:empty)::before {
  margin-right: 0.75em;
}

.divider:not(:empty)::after {
  margin-left: 0.75em;
}

.toCreateAccount {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.7rem;
}

.createAccountLabel {
  cursor: pointer;
  color: blue;
  margin-bottom: 2rem;
  font-size: 0.7rem;
}

.loginFooter {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #eee8e8;
  text-align: center;
}

.loginFooter p {
  padding: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.login-popup-error {
  background: #f9f9f9 !important;
  border-radius: 6px !important;
  width: 18rem !important;
  height: 18rem !important;
  margin: 0 auto !important;
}

.login-popup-error-title {
  margin-top: 0.2rem !important;
  font-size: 1.5rem !important;
}

.login-popup-error-icon {
  font-size: 0.8rem !important;
  margin: 0 auto !important;

  position: relative !important;
  top: 1rem !important;
  background-color: snow !important;
}

.log-in-button {
  font-weight: 600;
  background-color: #8c09ff63;
  min-width: 100%;
  box-shadow: 0 0 2px #eee8e8;
  color: black;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 20px;
  letter-spacing: 1px;
}

.login-labels {
  margin-left: 0.8rem;
  font-size: 0.7rem;
}

@media screen and (min-width: 510px) and (max-width: 890px) {
  .loginWrap {
    max-width: 35rem;
    margin: 0 auto;
    background: white !important;
  }
  .login {
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: white !important;
    width: 50%;
    margin: 3rem auto;
  }

  .inputLogin {
    height: 2.5rem;
    border-radius: 20px;
    border: 2px solid #eee8e8;
    padding-left: 0.8rem;
    min-width: 100%;
  }

  .inputLogin:focus {
    border-color: #8c09ff63;
    outline: none;
  }

  .password_input_wrap {
    position: relative;
    width: 100%;
  }

  .hide-unhide {
    width: 1.5rem;
    position: absolute;
    right: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .loginCredentials {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid;
    border-color: hsla(289, 29%, 81%, 0.819);
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.25);
  }

  .forgot_password_label {
    cursor: pointer;
    margin-right: 0.8rem;
    color: blue;
    font-size: 0.8rem;
  }

  .forgot-password-message {
    margin-left: 0.8rem;
  }

  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: black; /* text color */
    margin: 1em 0;
  }

  .divider::before,
  .divider::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid #8c09ff63 !important; /* line style */
  }

  .divider:not(:empty)::before {
    margin-right: 0.75em;
  }

  .divider:not(:empty)::after {
    margin-left: 0.75em;
  }

  .toCreateAccount {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  .createAccountLabel {
    cursor: pointer;
    color: blue;
    margin-bottom: 2rem;
    font-size: 0.8rem;
  }

  .loginFooter {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #eee8e8;
    text-align: center;
  }

  .loginFooter p {
    padding: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .login_heading {
    margin-top: 5.5rem;

    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: black;
    letter-spacing: 1px;
  }

  .login-popup-error {
    background: #f9f9f9 !important;
    border-radius: 6px !important;
    width: 18rem !important;
    height: 18rem !important;
    margin: 0 auto !important;
  }

  .login-popup-error-title {
    margin-top: 0.2rem !important;
    font-size: 1.5rem !important;
  }

  .login-popup-error-icon {
    font-size: 0.8rem !important;
    margin: 0 auto !important;

    position: relative !important;
    top: 1rem !important;
    background-color: snow !important;
  }

  .log-in-button {
    margin-top: 0.5rem;
    font-weight: 600;
    background-color: #8c09ff63;
    min-width: 100%;
    box-shadow: 0 0 2px #eee8e8;
    color: black;
    padding: 0.6rem 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 1px;
  }

  .log-in-button:hover {
    background-color: #8c09ff63;
  }
  .login-labels {
    margin-left: 0.8rem;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 890px) {
  html {
    background-color: white !important;
  }
  .loginWrap {
    max-width: 55rem;
    margin: 0 auto;
    background: white !important;
  }

  .login_heading {
    margin-top: 5.6rem;

    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: black;
    letter-spacing: 1px;
  }

  .login {
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: white !important;
    width: 40%;

    margin: 3rem auto;
  }

  .inputLogin {
    height: 2.5rem;
    border-radius: 20px;
    border: 2px solid #eee8e8;
    padding-left: 0.8rem;
    min-width: 100%;
  }

  .inputLogin:focus {
    border-color: #8c09ff63;
    outline: none;
  }

  .loginCredentials {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    border: 1px solid;
    border-color: hsla(289, 29%, 81%, 0.819);
    padding: 30px 30px;
    border-radius: 20px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.25);
  }

  .password_input_wrap {
    position: relative;
    width: 100%;
  }

  .hide-unhide {
    width: 1.5rem;
    position: absolute;
    right: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .login-labels {
    margin-left: 0.8rem;
    font-size: 1rem;
  }

  .forgot_password_label {
    cursor: pointer;
    margin-right: 0.8rem;
    font-size: 1rem;
  }

  .forgot-password-message {
    margin-left: 0.8rem;
    font-size: 1rem;
  }

  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: black; /* text color */
    margin: 1em 0;
  }

  .divider::before,
  .divider::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid #8c09ff63 !important; /* line style */
  }

  .divider:not(:empty)::before {
    margin-right: 0.75em;
  }

  .divider:not(:empty)::after {
    margin-left: 0.75em;
  }

  .toCreateAccount {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;
  }

  .createAccountLabel {
    cursor: pointer;
    color: blue;
    margin-bottom: 2rem;
    font-size: 1rem;
  }

  .loginFooter {
    margin-top: auto;
    margin-top: 7rem !important;
    background-color: #eee8e8 !important;
    text-align: center;
    max-width: 50rem;
    margin: 0 auto;
  }

  .loginFooter p {
    padding: 1rem;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
  }

  /* pop up for upload error */

  .login-popup-error {
    background: #f9f9f9 !important;
    border-radius: 6px !important;
    width: 20rem !important;
    height: 20rem !important;
    margin: 0 auto !important;
  }

  .login-popup-error-title {
    margin-top: 0.2rem !important;
    font-size: 1.5rem !important;
  }

  .login-popup-error-icon {
    font-size: 0.8rem !important;
    margin: 0 auto !important;

    position: relative !important;
    top: 1rem !important;
    background-color: snow !important;
  }

  .log-in-button {
    margin-top: 0.5rem;
    font-weight: 600;
    background-color: #8c09ff63;

    box-shadow: 0 0 2px #eee8e8;
    min-width: 100%;

    color: black;
    padding: 0.6rem 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 1px;
  }
  .log-in-button:hover {
    background-color: #8c09ff63;
  }
}
