.login_heading {
  margin-top: 5.5rem;

  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: rgb(87, 84, 84);
}

.login {
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white !important;
}

.inputLogin {
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 0.4rem;
  min-width: 100%;
}

.password_input_wrap {
  position: relative;
  width: 100%;
}

.hide-unhide {
  width: 1.5rem;
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.loginCredentials {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.password_labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  margin-top: 0.3rem;
}

.password_label,
.forgot_password_label {
  margin: 0;
}

.forgot_password_label {
  cursor: pointer;
  color: blue;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: black; /* text color */
  margin: 1em 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid black; /* line style */
}

.divider:not(:empty)::before {
  margin-right: 0.75em;
}

.divider:not(:empty)::after {
  margin-left: 0.75em;
}

.toCreateAccount {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.createAccountLabel {
  cursor: pointer;
  color: blue;
}

.loginFooter {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #eee8e8;
  text-align: center;
}

.loginFooter p {
  padding: 1rem;
}

.login-popup-error {
  background: #f9f9f9 !important;
  border-radius: 6px !important;
  width: 18rem !important;
  height: 18rem !important;
  margin: 0 auto !important;
}

.login-popup-error-title {
  margin-top: 0.2rem !important;
  font-size: 1.5rem !important;
}

.login-popup-error-icon {
  font-size: 0.8rem !important;
  margin: 0 auto !important;

  position: relative !important;
  top: 1rem !important;
  background-color: snow !important;
}

@media screen and (min-width: 510px) and (max-width: 890px) {
  .loginWrap {
    max-width: 35rem;
    margin: 0 auto;
    background: white !important;
  }
  .login {
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: white !important;
    max-width: 20rem;
    margin: 0 auto;
  }

  .inputLogin {
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 0.4rem;
    min-width: 100%;
  }

  .password_input_wrap {
    position: relative;
    width: 100%;
  }

  .hide-unhide {
    width: 1.5rem;
    position: absolute;
    right: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .loginCredentials {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .password_labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    margin-top: 0.3rem;
  }

  .password_label {
    margin: 0;
  }
  .forgot_password_label {
    margin: 0;
    cursor: pointer;
    color: blue;
  }

  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: black; /* text color */
    margin: 1em 0;
  }

  .divider::before,
  .divider::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid black; /* line style */
  }

  .divider:not(:empty)::before {
    margin-right: 0.75em;
  }

  .divider:not(:empty)::after {
    margin-left: 0.75em;
  }

  .toCreateAccount {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .createAccountLabel {
    cursor: pointer;
    color: blue;
  }

  .loginFooter {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #eee8e8;
    text-align: center;
  }

  .loginFooter p {
    padding: 1rem;
  }

  .login_heading {
    margin-top: 5.5rem;

    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: rgb(87, 84, 84);
  }

  .login-popup-error {
    background: #f9f9f9 !important;
    border-radius: 6px !important;
    width: 18rem !important;
    height: 18rem !important;
    margin: 0 auto !important;
  }

  .login-popup-error-title {
    margin-top: 0.2rem !important;
    font-size: 1.5rem !important;
  }

  .login-popup-error-icon {
    font-size: 0.8rem !important;
    margin: 0 auto !important;

    position: relative !important;
    top: 1rem !important;
    background-color: snow !important;
  }
}

@media screen and (min-width: 890px) {
  html {
    background-color: white !important;
  }
  .loginWrap {
    max-width: 55rem;
    margin: 0 auto;
    background: white !important;
  }

  .login_heading {
    margin-top: 5.5rem;

    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: rgb(87, 84, 84);
  }

  .login {
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: white !important;
    width: 45%;
    margin: 0 auto;
  }

  .inputLogin {
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 0.4rem;
    min-width: 100%;
  }

  .loginCredentials {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .password_input_wrap {
    position: relative;
    width: 100%;
  }

  .hide-unhide {
    width: 1.5rem;
    position: absolute;
    right: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .password_labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    margin-top: 0.3rem;
  }

  .password_label {
    margin: 0;
  }
  .forgot_password_label {
    margin: 0;
    cursor: pointer;
    color: blue;
  }

  .forgot_password_label {
    cursor: pointer;
  }

  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: black; /* text color */
    margin: 1em 0;
  }

  .divider::before,
  .divider::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid black; /* line style */
  }

  .divider:not(:empty)::before {
    margin-right: 0.75em;
  }

  .divider:not(:empty)::after {
    margin-left: 0.75em;
  }

  .toCreateAccount {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .createAccountLabel {
    cursor: pointer;
    color: blue;
  }

  .loginFooter {
    margin-top: auto;
    margin-top: 7rem !important;
    background-color: #eee8e8;
    text-align: center;
    max-width: 50rem;
    margin: 0 auto;
  }

  .loginFooter p {
    padding: 1rem;
  }

  /* pop up for upload error */

  .login-popup-error {
    background: #f9f9f9 !important;
    border-radius: 6px !important;
    width: 20rem !important;
    height: 20rem !important;
    margin: 0 auto !important;
  }

  .login-popup-error-title {
    margin-top: 0.2rem !important;
    font-size: 1.5rem !important;
  }

  .login-popup-error-icon {
    font-size: 0.8rem !important;
    margin: 0 auto !important;

    position: relative !important;
    top: 1rem !important;
    background-color: snow !important;
  }
}
