############################
# DOCKER
############################
docker/data/
docker/.env

############################
# GLOBAL ENV
############################
.env

############################
# IDE
############################
.vscode/
.idea/
.DS_Store

# Local Netlify folder
.netlify
