[build]
  base = "frontend"
  command = "npm run build"
  publish = "build"

[[redirects]]
  from = "/api/*"
  to = "https://api.share2teach.site/api/:splat"
  status = 200
  force = true

[dev]
  command = "npm start"
  targetPort = 3000
  port = 8888
