.faqHead-Wrapper {
  top: 0;
  position: fixed;
  background-color: #eee8e8;

  box-shadow: 0 0 2px #eee8e8;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
  gap: 0.5rem;
  max-width: 100vw;
  margin: 0 auto;
  z-index: 10;
}

.faqHead-Wrapper h2 {
  margin: 0;
  margin-right: 1rem;
  margin-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: bold;
}

.faqHead-hamburger {
  font-size: 40px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  flex-shrink: 0;
}

.faq-shortcuts {
  display: none;
}

.faq-upload-icon {
  display: none;
}

.FaqHeader-Login-Create {
  display: none;
}

/* Tablets */
@media screen and (min-width: 510px) and (max-width: 890px) {
  .faqHead-Wrapper {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    gap: 0.5rem;
    max-width: 35rem;
    margin: 0 auto;
    z-index: 10;
  }

  .faqHead-Wrapper h2 {
    margin: 0;
    margin-right: 1rem;
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .faqHead-hamburger {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    flex-shrink: 0;
  }

  .faq-shortcuts {
    display: none;
  }

  .faq-upload-icon {
    display: none;
  }

  .FaqHeader-Login-Create {
    display: none;
  }
}

@media screen and (min-width: 890px) {
  .faqHead-Wrapper {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    gap: 2rem;
    z-index: 10;

    width: 100%; /* ✅ make it responsive */
    max-width: 54.8rem; /* ✅ cap it */
    margin: 0 auto; /* ✅ center it */
    flex-shrink: 1;

    min-width: 0;
    height: 4.5rem;
  }

  .heading-allowed {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
    cursor: pointer;
    min-width: 0;
    letter-spacing: 1px;
    height: 2rem;
    margin-right: 0 !important;
  }

  .heading-allowed-open-access {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
    cursor: pointer;
    min-width: 0;
    letter-spacing: 1px;
    height: 2rem;
    margin-left: auto !important;
    margin-right: 0 !important;
  }

  .heading-not-allowed {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
    cursor: pointer;
    min-width: 0;
    margin-left: auto;

    letter-spacing: 1px;
    height: 2rem;
    margin-right: 0 !important;
  }

  .faq-shortcuts {
    display: flex;

    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    white-space: nowrap;
    flex-shrink: 1;
    min-width: 0;
    margin-left: auto;
  }

  .a-shortcuts {
    cursor: pointer;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 10px;
    border-color: hsla(289, 29%, 81%, 0.819);
    background-color: transparent;
    font-weight: 550;
    letter-spacing: 2px;
    color: black;
    font-size: 0.8rem;
  }

  .a-shortcuts:hover {
    background-color: snow;
  }

  .faqHead-hamburger {
    display: flex;
    flex-shrink: 1;
    margin-right: 1rem;
    min-width: 0;
  }

  .faq-upload-icon {
    display: flex;
    flex-shrink: 1;

    min-width: 0;
    cursor: pointer;
  }

  .a-shortcuts img {
    display: flex;
    flex-shrink: 1;
    width: 24px;
    height: 24px;
    align-items: center;

    min-height: 0.2rem;
    margin-top: 0.3rem;
  }

  .a-shortcuts span {
    display: flex;
    margin-right: 0.5rem;
    flex-shrink: 1;
    margin-top: 0.2rem;
    min-width: 0;

    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .FaqHeader-Login-Create {
    display: flex;
    position: relative;
    align-items: center;
    gap: 2rem;
    margin-left: auto;
  }

  .FaqHeader-Login-Create p {
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 10px;
    border-color: hsla(289, 29%, 81%, 0.819);
    background-color: transparent;
    font-weight: 550;
    letter-spacing: 2px;
    color: black;
    font-size: 0.8rem;
    cursor: pointer;
  }

  .FaqHeader-Login-Create p:hover {
    background-color: snow;
  }
}
