footer {
  margin-top: auto;
  /*  background: blanchedalmond; */
  background: rgb(235, 229, 235);

  margin-inline: 1rem;
  padding: 0.5rem;
}

footer h1 {
  font-size: 1.5rem;
  margin: 1.5rem auto;
}

.footer_paragraph {
  position: relative;
  top: 0.5rem;
  font-size: 1.2rem;
}

strong {
  font-size: 1.3rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  border-radius: 3px;
  padding-left: 0.4rem; /* moves both text and placeholder */
  height: 2.5rem;
  border: 1px solid gray;
}

textarea {
  padding: 0.4rem;
  height: 8rem;
  border: 1px solid gray;
}

button {
  padding: 0.5rem;
  cursor: pointer;
}

.email-success-popup {
  background-color: rgba(248, 248, 248, 0.9);
  width: 65vw;
  height: 55vh;
  margin: 0 auto;
}

.email-success-pop-up-title {
  margin-top: 0.2rem;
  font-size: 1.5rem;
}

.email-success-button-confirm {
  background-color: rgb(123, 90, 6);
}

.email-failure-popup {
  background-color: rgba(248, 248, 248, 0.9);
  width: 65vw;
  height: 55vh;
  margin: 0 auto;
}

.email-failure-pop-up-title {
  margin-top: 0.2rem;
  font-size: 1.5rem;
}

.email-button-confirm-failure {
  background-color: rgb(123, 90, 6);
}

@media screen and (min-width: 510px) and (max-width: 890px) {
  footer {
    margin-top: auto;
    /*  background: blanchedalmond; */
    background: rgb(235, 229, 235);
    max-width: 28rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    bottom: 0.2rem;
  }

  .footer_paragraph {
    position: relative;
    top: 0.5rem;
    font-size: 1.2rem;
  }

  .contact-container {
    width: 70%;
    margin: 0 auto;
  }

  footer h1 {
    font-size: 1.5rem;
  }

  strong {
    font-size: 1.3rem;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .input {
    border-radius: 3px;
    padding-left: 0.4rem; /* moves both text and placeholder */
    height: 2.5rem;
    border: 1px solid gray;
  }

  .s2t {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
  }
  textarea {
    resize: none;
    box-sizing: border-box;
  }

  .email-success-popup {
    background-color: rgba(248, 248, 248, 0.9);
    width: 21rem;
    height: 21rem;
    margin: 0 auto;
  }

  .email-success-pop-up-title {
    margin-top: 0.2rem;
    font-size: 1.5rem;
  }

  .email-success-button-confirm {
    background-color: rgb(123, 90, 6);
  }

  .email-failure-popup {
    background-color: rgba(248, 248, 248, 0.9);
    width: 21rem;
    height: 21rem;
    margin: 0 auto;
  }

  .email-failure-pop-up-title {
    margin-top: 0.2rem;
    font-size: 1.5rem;
  }

  .email-button-confirm-failure {
    background-color: rgb(123, 90, 6);
  }
}

@media screen and (min-width: 890px) {
  footer {
    margin-top: auto;
    /*  background: blanchedalmond; */
    background: rgb(235, 229, 235);
    max-width: 38rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    bottom: 0.2rem;
  }

  .footer_paragraph {
    position: relative;
    top: 0.5rem;
    font-size: 1.2rem;
    padding: 1rem;
  }

  .contact-container {
    width: 70%;
    margin: 0 auto;
  }

  footer h1 {
    font-size: 1.5rem;
  }

  strong {
    font-size: 1.3rem;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .input {
    border-radius: 3px;
    padding-left: 0.4rem; /* moves both text and placeholder */
    height: 2.5rem;
    border: 1px solid gray;
  }

  .s2t {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
  }
  textarea {
    resize: none;
    box-sizing: border-box;
  }

  .email-success-popup {
    background-color: rgba(248, 248, 248, 0.9);
    width: 23rem;
    height: 23rem;
    margin: 0 auto;
  }

  .email-success-pop-up-title {
    margin-top: 0.2rem;
    font-size: 1.5rem;
  }

  .email-success-button-confirm {
    background-color: rgb(123, 90, 6);
  }

  .email-failure-popup {
    background-color: rgba(248, 248, 248, 0.9);
    width: 23rem;
    height: 23rem;
    margin: 0 auto;
  }

  .email-failure-pop-up-title {
    margin-top: 0.2rem;
    font-size: 1.5rem;
  }

  .email-button-confirm-failure {
    background-color: rgb(123, 90, 6);
  }
}
