footer {
  margin-top: auto;
  /*  background: blanchedalmond; */
  background: rgb(235, 229, 235);

  margin-inline: 1rem;
  padding: 0.5rem;
}

footer h1 {
  font-size: 1.5rem;
  margin: 1.5rem auto;
}

.footer_paragraph {
  position: relative;
  top: 0.5rem;
  font-size: 1rem;
  letter-spacing: normal;
  text-align: justify;
}

strong {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.f-input {
  height: 2.5rem;
  border-radius: 20px;
  border: 2px solid #eee8e8;
  padding-left: 0.8rem;
}

.f-input:focus {
  border-color: #8c09ff63;
  outline: none;
}

textarea {
  padding: 0.4rem;
  padding-left: 0.8rem;
  height: 8rem;
  border: 2px solid #eee8e8;
  border-radius: 15px;
}

textarea:focus {
  border-color: #8c09ff63;
  outline: none;
}

.email-success-popup {
  background-color: rgba(248, 248, 248, 0.9);
  width: 65vw;
  height: 55vh;
  margin: 0 auto;
}

.email-success-pop-up-title {
  margin-top: 0.2rem;
  font-size: 1.5rem;
}

.email-success-button-confirm {
  background-color: rgb(123, 90, 6);
}

.email-failure-popup {
  background-color: rgba(248, 248, 248, 0.9);
  width: 65vw;
  height: 55vh;
  margin: 0 auto;
}

.email-failure-pop-up-title {
  margin-top: 0.2rem;
  font-size: 1.5rem;
}

.email-button-confirm-failure {
  background-color: rgb(123, 90, 6);
}

.e-submit-button {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(248, 248, 248, 0.9);
  box-shadow: black;
  color: black;
  border: 1px solid hsla(289, 29%, 81%, 0.819);
  border-radius: 20px;
  letter-spacing: 1px;
}

.f-s2t {
  letter-spacing: 1px;
}

@media screen and (min-width: 510px) and (max-width: 890px) {
  footer {
    margin-top: auto;
    /*  background: blanchedalmond; */
    background: rgb(235, 229, 235);
    max-width: 28rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    bottom: 0.2rem;
  }

  .footer_paragraph {
    position: relative;
    top: 0.5rem;
    font-size: 1.2rem;
    letter-spacing: normal;
  }

  .contact-container {
    width: 70%;
    margin: 0 auto;
  }

  footer h1 {
    font-size: 1.5rem;
  }

  strong {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .f-input {
    border-radius: 20px;
    border: 2px solid #eee8e8;
    padding-left: 0.8rem;
    height: 2.5rem;
  }

  .f-input:focus {
    border-color: #8c09ff63;
    outline: none;
  }

  .f-s2t {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    letter-spacing: 1px;
  }

  textarea {
    resize: none;
    box-sizing: border-box;
    padding: 0.4rem;
    padding-left: 0.8rem;
    height: 8rem;
    border: 2px solid #eee8e8;
    border-radius: 15px;
  }

  textarea:focus {
    border-color: #8c09ff63;
    outline: none;
  }

  .email-success-popup {
    background-color: rgba(248, 248, 248, 0.9);
    width: 21rem;
    height: 21rem;
    margin: 0 auto;
  }

  .email-success-pop-up-title {
    margin-top: 0.2rem;
    font-size: 1.5rem;
  }

  .email-success-button-confirm {
    background-color: rgb(123, 90, 6);
  }

  .email-failure-popup {
    background-color: rgba(248, 248, 248, 0.9);
    width: 21rem;
    height: 21rem;
    margin: 0 auto;
  }

  .email-failure-pop-up-title {
    margin-top: 0.2rem;
    font-size: 1.5rem;
  }

  .email-button-confirm-failure {
    background-color: rgb(123, 90, 6);
  }

  .e-submit-button {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(248, 248, 248, 0.9);
    box-shadow: black;
    color: black;
    border: 1px solid hsla(289, 29%, 81%, 0.819);
    border-radius: 20px;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 890px) {
  footer {
    margin-top: auto;
    /*  background: blanchedalmond; */
    background: rgb(235, 229, 235);
    max-width: 38rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    bottom: 0.2rem;
  }

  .footer_paragraph {
    position: relative;
    top: 0.5rem;
    font-size: 1.2rem;
    padding: 1rem;
    letter-spacing: normal;
  }

  .contact-container {
    width: 70%;
    margin: 0 auto;
  }

  footer h1 {
    font-size: 1.5rem;
  }

  strong {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .f-input {
    border-radius: 20px;
    padding-left: 0.8rem; /* moves both text and placeholder */
    height: 2.5rem;
    border: 2px solid #eee8e8;
  }

  .f-input:focus {
    border-color: #8c09ff63;
    outline: none;
  }

  .f-s2t {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    letter-spacing: 1px;
  }

  textarea {
    resize: none;
    box-sizing: border-box;
    padding: 0.4rem;
    padding-left: 0.8rem;
    height: 8rem;
    border: 2px solid #eee8e8;
    border-radius: 15px;
  }

  textarea:focus {
    border-color: #8c09ff63;
    outline: none;
  }

  .email-success-popup {
    background-color: rgba(248, 248, 248, 0.9);
    width: 23rem;
    height: 23rem;
    margin: 0 auto;
  }

  .email-success-pop-up-title {
    margin-top: 0.2rem;
    font-size: 1.5rem;
  }

  .email-success-button-confirm {
    background-color: rgb(123, 90, 6);
  }

  .email-failure-popup {
    background-color: rgba(248, 248, 248, 0.9);
    width: 23rem;
    height: 23rem;
    margin: 0 auto;
  }

  .email-failure-pop-up-title {
    margin-top: 0.2rem;
    font-size: 1.5rem;
  }

  .email-button-confirm-failure {
    background-color: rgb(123, 90, 6);
  }

  .e-submit-button {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(248, 248, 248, 0.9);
    box-shadow: black;
    color: black;
    border: 1px solid hsla(289, 29%, 81%, 0.819);
    border-radius: 20px;
    letter-spacing: 1px;
  }
}
