footer {
  margin-top: auto;
  /*  background: blanchedalmond; */
  background: rgb(235, 229, 235);

  margin-inline: 1rem;
}

footer h1 {
  font-size: 1.5rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  border-radius: 3px;
  padding-left: 0.4rem; /* moves both text and placeholder */
}

textarea {
  padding-left: 0.4rem;
}

button {
  padding: 0.5rem;
  cursor: pointer;
}

.success-popup {
  background-color: rgba(248, 248, 248, 0.9);
  border-radius: 6px;
  font-size: 1.2rem;
  width: 60vw;
}

.success-button-confirm {
  background-color: rgb(123, 90, 6);
}
