.popup-grades {
  width: 9rem;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 10px;
  z-index: 30;
  height: 8rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.popup-grades-title {
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

.popup-grades-options label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-top: 5px;
  margin-inline-start: 1.1rem;
  padding-block-end: 0.5rem;
}

input[type="radio"] {
  width: 16px; /* big enough to see */
  height: 16px;
  accent-color: black; /* makes dot visible in Chrome & Firefox */
  cursor: pointer;
}

input[type="radio"]:hover {
  cursor: pointer;
}

/* Tablets */
@media screen and (min-width: 510px) and (max-width: 890px) {
  .popup-grades {
    width: 9rem;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 10px;
    z-index: 30;
    height: 8rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .popup-grades-title {
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
  }

  .popup-grades-options label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 5px;
    margin-inline-start: 1.7rem;
    padding-block-end: 0.5rem;
  }

  input[type="radio"] {
    width: 16px; /* big enough to see */
    height: 16px;
    accent-color: black; /* makes dot visible in Chrome & Firefox */
    cursor: pointer;
  }

  input[type="radio"]:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 890px) {
  .popup-grades {
    width: 10rem;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 10px;
    z-index: 30;
    height: 8rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .popup-grades-title {
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
  }

  .popup-grades-options label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 5px;
    margin-inline-start: 1.7rem;
    padding-block-end: 0.5rem;
  }

  input[type="radio"] {
    width: 16px; /* big enough to see */
    height: 16px;
    accent-color: black; /* makes dot visible in Chrome & Firefox */
    cursor: pointer;
  }

  input[type="radio"]:hover {
    cursor: pointer;
  }
}
