header {
  top: 0;
  position: fixed;
  background-color: #eee8e8;

  box-shadow: 0 0 2px #eee8e8;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
  gap: 0.5rem;
  max-width: 100vw;
  margin: 0 auto;
  z-index: 10;
}

.s2t-heading {
  margin: 0;
  margin-right: 1rem;
  margin-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  flex-shrink: 0;
}

.search-icon {
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px;
  flex-shrink: 0;
}

.search-icon img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.upload-icon {
  display: none;
}

.pc-screen-search {
  display: none;
}

.login-word {
  display: none;
}

/* Tablets */
@media screen and (min-width: 460px) and (max-width: 637px) {
  header {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

    gap: 0.5rem;
    max-width: 30rem;
    margin: 0 auto;
    z-index: 10;
  }

  .s2t-heading {
    margin: 0;
    margin-right: 1rem;
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .menu-icon {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    flex-shrink: 0;
  }

  .search-icon {
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px;
    flex-shrink: 0;
  }

  .search-icon img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  .upload-icon {
    display: none;
  }

  .pc-screen-search {
    display: none;
  }

  .login-word {
    display: none;
  }
}

@media screen and (min-width: 637px) {
  header {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    border: solid red;
    z-index: 10;
    margin: 0 auto;
    max-width: 54.8rem;
  }

  .s2t-heading {
    background: blue;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .menu-icon {
    display: flex;
    flex-shrink: 1;
    background-color: blue;
    min-width: 0;
  }

  .search-icon {
    display: none;
  }

  .upload-icon {
    display: flex;
    flex-shrink: 1;
    background: blue;
    min-width: 0;
  }

  .upload-icon img {
    display: flex;
    flex-shrink: 1;
    width: 24px;
    height: 24px;
    background: red;
    min-width: 0;
  }

  .upload-icon span {
    display: flex;
    margin-right: 0.5rem;
    flex-shrink: 1;
    background: blue;
    min-width: 0;
  }

  .pc-screen-search {
    display: flex;
    flex-shrink: 1;
    background: blue;
    min-width: 0;
  }

  .login-word {
    display: flex;
    flex-shrink: 1;
    background: blue;
    min-width: 0;
  }
}
