.home-big-header {
  top: 0;
  position: fixed;
  background-color: #eee8e8;

  box-shadow: 0 0 2px #eee8e8;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;

  gap: 0.5rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  z-index: 10;
}

.home-s2t-heading {
  margin: 0;
  margin-right: 1rem;
  margin-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home-menu-icon {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  flex-shrink: 0;
}

.search-icon {
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px;
  flex-shrink: 0;
}

.search-icon img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.home-pc-screen-search {
  display: none;
}

.home-login-create {
  display: none;
}

/* Tablets */
@media screen and (min-width: 510px) and (max-width: 890px) {
  .home-big-header {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    display: flex;

    flex-flow: row nowrap;
    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    margin: 0 auto;
    z-index: 10;
    width: 100%;
    max-width: 30rem;
    min-width: 0;
  }

  .home-s2t-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;

    margin-right: 0;
    min-width: 0;
    cursor: pointer;
  }

  .home-menu-icon {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    flex-shrink: 0;
  }

  .search-icon {
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px;
    flex-shrink: 0;
  }

  .search-icon img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  .home-pc-screen-search {
    display: none;
  }

  .home-login-create {
    display: none;
  }
}

@media screen and (min-width: 890px) {
  .home-big-header {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    display: flex;

    flex-flow: row nowrap;
    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    margin: 0 auto;
    z-index: 10;
    width: 100%;
    max-width: 60rem;
    min-width: 0;
  }

  .home-s2t-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    flex-shrink: 1;

    min-width: 0;
    cursor: pointer;
    margin-right: 0;
  }

  .home-menu-icon {
    display: flex;
    flex-shrink: 1;
    margin-right: 1rem;
    min-width: 0;
  }

  .search-icon {
    display: none;
  }

  .home-login-create {
    display: flex;
    position: relative;
    align-items: center;

    gap: 3.1rem;
    right: 1.6rem;
    margin-inline-start: 3rem;
  }

  .home-login-create p {
    text-align: center;
    cursor: pointer;
    font-weight: 500;
  }

  .home-login-create p:hover {
    color: navy;
    font-size: 20px;
  }

  .home-pc-screen-search {
    display: flex;
    flex-shrink: 1;
    justify-content: flex-start;

    position: relative;

    border: solid rgb(244, 226, 244);
    border-radius: 4px;
    min-width: 0;
  }

  .home-pc-screen-search-form {
    background-color: rgb(235, 229, 235);
    display: flex;
    border-radius: 8px;
    flex-shrink: 1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    min-width: 0;
  }

  .home-pc-screen-search-form input {
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    width: 11rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .home-pc-screen-search-form input::placeholder {
    text-align: justify;
    font-size: 1rem;
  }

  .home-pc-screen-search-form button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(248, 235, 250);
    text-overflow: hidden;
  }

  .home-pc-screen-search-form img {
    height: 40px;
    width: 40px;
    align-self: center;
    padding: 10px;
    color: black;
    background: white;
    flex-shrink: 1;
    min-width: 0;
  }

  .pc-screen-search-form_logged img {
    height: 40px;
    width: 40px;
    align-self: center;
    padding: 10px;
    color: black;
    background: white;
    flex-shrink: 1;
    min-width: 0;
  }
}
