header {
  top: 0;
  position: fixed;
  background-color: #eee8e8;

  box-shadow: 0 0 2px #eee8e8;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
  gap: 0.5rem;
  z-index: 10;
}

header h2 {
  margin: 0;
  margin-right: 1rem;
  margin-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  flex-shrink: 0;
}

.search-icon {
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px;
  flex-shrink: 0;
}

.search-icon img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.upload-icon {
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
  flex-shrink: 0;
}

.upload-icon img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

@media screen and (min-width: 451px) {
  header {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

    gap: 0.5rem;
    z-index: 10;
    max-width: 54.8rem;
  }

  header h2 {
    margin: 0;
    margin-right: 1rem;
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .menu-icon {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    flex-shrink: 0;
  }

  .search-icon {
    display: none;
  }

  .search-icon img {
    display: none;
  }

  .upload-icon {
    cursor: pointer;
    background-color: transparent;
    position: relative;
    margin-left: 34rem;
    bottom: 0.1rem;
    flex-shrink: 0;
  }

  .upload-icon img {
    position: absolute;
    width: 20px;
    height: 20px;
  }

  .upload-icon span {
    position: relative;

    right: 0.5rem;
    top: 0.2rem;
  }
}
