header {
  top: 0;
  position: fixed;
  background-color: #eee8e8;

  box-shadow: 0 0 2px #eee8e8;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
  gap: 0.5rem;
  max-width: 100vw;
  margin: 0 auto;
  z-index: 10;
}

.s2t-heading {
  margin: 0;
  margin-right: 1rem;
  margin-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  flex-shrink: 0;
}

.search-icon {
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px;
  flex-shrink: 0;
}

.search-icon img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.upload-icon {
  display: none;
}

.pc-screen-search,
.pc-screen-search_logged {
  display: none;
}

.login_create {
  display: none;
}

.file-moderation {
  display: none;
}

/* Tablets */
@media screen and (min-width: 460px) and (max-width: 637px) {
  header {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

    gap: 0.5rem;
    max-width: 30rem;
    margin: 0 auto;
    z-index: 10;
  }

  .s2t-heading {
    margin: 0;
    margin-right: 1rem;
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .menu-icon {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    flex-shrink: 0;
  }

  .search-icon {
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px;
    flex-shrink: 0;
  }

  .search-icon img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  .upload-icon {
    display: none;
  }

  .pc-screen-search,
  .pc-screen-search_logged {
    display: none;
  }

  .login_create {
    display: none;
  }

  .file-moderation {
    display: none;
  }
}

@media screen and (min-width: 637px) {
  .big-header {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    gap: 1.5rem;
    z-index: 10;
    margin: 0 auto;
    width: 100%; /* ✅ make it responsive */
    max-width: 60rem; /* ✅ cap it */
    margin: 0 auto; /* ✅ center it */
    flex-shrink: 1;

    min-width: 0;
  }

  .small-header {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);

    z-index: 10;

    width: 100%; /* ✅ make it responsive */
    max-width: 54.8rem; /* ✅ cap it */
    margin: 0 auto; /* ✅ center it */
    flex-shrink: 1;

    min-width: 0;
  }

  .s2t_heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
    margin-left: auto;

    min-width: 0;
    cursor: pointer;
  }

  .s2t-heading-open {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
    margin-left: auto;

    min-width: 0;
  }

  .s2t-heading-closed {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;

    min-width: 0;
  }

  .menu-icon {
    display: flex;
    flex-shrink: 1;
    margin-right: 1rem;
    min-width: 0;
  }

  .search-icon {
    display: none;
  }

  .upload-icon {
    display: flex;
    flex-shrink: 1;

    min-width: 0;
    cursor: pointer;
  }

  .file-moderation {
    display: flex;
    flex-shrink: 1;

    min-width: 0;
    cursor: pointer;
  }

  .upload-icon img {
    display: flex;
    flex-shrink: 1;
    width: 24px;
    height: 24px;
    align-items: center;
    min-width: 0;
    margin-top: 0.3rem;
  }

  .upload-icon span {
    display: flex;
    margin-right: 0.5rem;
    flex-shrink: 1;
    margin-top: 0.2rem;
    min-width: 0;

    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .file-moderation span {
    display: flex;

    flex-shrink: 1;
    margin-top: 0.2rem;
    min-width: 0;

    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .login_create {
    display: flex;
    position: relative;
    align-items: center;
    gap: 2rem;
    margin-inline: auto;
  }

  .login_create p {
    text-align: center;
    cursor: pointer;
  }

  .pc-screen-search {
    display: flex;
    flex-shrink: 1;
    justify-content: flex-start;

    position: relative;
    right: 1rem;
    border: solid rgb(244, 226, 244);
    border-radius: 4px;
    min-width: 0;
  }

  .pc-screen-search_logged {
    display: flex;
    flex-shrink: 1;
    justify-content: flex-start;

    position: relative;
    right: 1rem;
    border: solid rgb(244, 226, 244);
    border-radius: 4px;
    min-width: 0;
  }

  .pc-screen-search-form {
    background-color: rgb(235, 229, 235);
    display: flex;
    border-radius: 8px;
    flex-shrink: 1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    min-width: 0;
  }

  .pc-screen-search-form_logged {
    background-color: rgb(235, 229, 235);
    display: flex;
    border-radius: 8px;
    flex-shrink: 1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    min-width: 0;
  }

  .pc-screen-search-form input {
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    width: 16rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .pc-screen-search-form input::placeholder {
    text-align: justify;
    font-size: 1.1rem;
  }

  .pc-screen-search-form_logged input {
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    width: 12rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .pc-screen-search-form button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(248, 235, 250);
    text-overflow: hidden;
  }

  .pc-screen-search-form_logged button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(248, 235, 250);
    text-overflow: hidden;
  }

  .pc-screen-search-form img {
    height: 40px;
    width: 40px;
    align-self: center;
    padding: 10px;
    color: black;
    background: white;
    flex-shrink: 1;
    min-width: 0;
  }

  .pc-screen-search-form_logged img {
    height: 40px;
    width: 40px;
    align-self: center;
    padding: 10px;
    color: black;
    background: white;
    flex-shrink: 1;
    min-width: 0;
  }
}
