.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 0; /* default is closed */
  height: 100%;
  overflow-x: hidden;
  background-color: #eee8e8;
  z-index: 30;
  transition: width 0.3s ease;
  padding-top: 60px;
}

.sidenav.open {
  width: 120px;
}

.s-anchor {
  padding: 10px 20px;
  text-decoration: none;

  color: black;
  display: block;
  transition: 0.2s;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.s-anchor:focus {
  color: black;
  border: 1px solid;
  border-radius: 20px;
  padding: 10px 10px;
  border-color: hsla(289, 29%, 81%, 0.819);
  background-color: transparent;
  font-weight: 550;
  background-color: snow;
}

.bigScreen-anchor {
  display: none;
}

@media screen and (min-width: 510px) and (max-width: 890px) {
  .bigScreen-anchor {
    display: none;
  }

  .sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 0; /* default is closed */
    height: 100vh;
    overflow-x: hidden;
    background-color: #eee8e8;
    box-shadow: 0 0 2px snow;
    z-index: 30;
    transition: width 0.3s ease;
    padding-top: 60px;
  }

  .sidenav.open {
    width: 150px;
  }

  .s-anchor {
    padding: 10px 20px;
    text-decoration: none;

    color: black;
    display: block;
    transition: 0.2s;
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  .s-anchor:focus {
    color: black;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 10px;
    border-color: hsla(289, 29%, 81%, 0.819);
    background-color: transparent;
    font-weight: 550;
    background-color: snow;
  }
}

@media screen and (min-width: 890px) {
  .sidenav.open {
    width: 180px;
    column-count: 1;
  }

  .sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 0; /* default is closed */
    height: 100vh;
    overflow-x: hidden;
    background-color: #eee8e8;

    box-shadow: 0 0 2px snow;
    z-index: 30;
    transition: width 0.3s ease;
    padding-top: 60px;
  }

  .bigScreen-anchor {
    display: block;

    padding: 10px 20px;
    text-decoration: none;

    color: black;
    font-size: 0.8rem;
    letter-spacing: 1px;
    transition: 0.2s;

    text-align: center;
  }

  .bigScreen-anchor:hover {
    background-color: #575757;
    color: black;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 10px;
    border-color: hsla(289, 29%, 81%, 0.819);
    background-color: transparent;
    font-weight: 550;
    background-color: snow;
  }

  .s-anchor {
    letter-spacing: 1px;
    color: black;
    font-size: 0.8rem;

    text-align: center;
  }

  .s-anchor:hover {
    color: black;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 10px;
    border-color: hsla(289, 29%, 81%, 0.819);
    background-color: transparent;
    font-weight: 550;
    background-color: snow;
  }
}
