.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 0; /* default is closed */
  height: 100%;
  overflow-x: hidden;
  background-color: #f8f8f8;
  z-index: 30;
  transition: width 0.3s ease;
  padding-top: 60px;
}

.sidenav.open {
  width: 120px;
}

.s-anchor {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.2s;
  text-align: justify;
}

.s-anchor:hover {
  background-color: #575757;
  color: khaki;
}

.bigScreen-anchor {
  display: none;
}

@media screen and (min-width: 510px) and (max-width: 890px) {
  .bigScreen-anchor {
    display: none;
  }

  .sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 0; /* default is closed */
    height: 100vh;
    overflow-x: hidden;
    background-color: #eee8e8;
    box-shadow: 0 0 2px snow;
    z-index: 30;
    transition: width 0.3s ease;
    padding-top: 60px;
  }

  .sidenav.open {
    width: 150px;
  }

  .s-anchor {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.2s;
    text-align: justify;
  }

  .s-anchor:hover {
    background-color: #575757;
    color: khaki;
  }
}

@media screen and (min-width: 890px) {
  .sidenav.open {
    width: 180px;
  }

  .sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 0; /* default is closed */
    height: 100vh;
    overflow-x: hidden;
    background-color: #eee8e8;

    box-shadow: 0 0 2px snow;
    z-index: 30;
    transition: width 0.3s ease;
    padding-top: 60px;
  }

  .bigScreen-anchor {
    display: block;

    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;

    transition: 0.2s;

    text-align: justify;
  }

  .bigScreen-anchor:hover {
    background-color: #575757;
    color: khaki;
  }
}
