.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 0; /* default is closed */
  height: 100%;
  overflow-x: hidden;
  background-color: #f8f8f8;
  z-index: 30;
  transition: width 0.3s ease;
  padding-top: 60px;
}

.sidenav.open {
  width: 120px;
}

.sidenav a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.2s;
  margin-left: 1rem;
}

.sidenav a:hover {
  background-color: #575757;
  color: khaki;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: width 0.3s ease;
  overflow-x: hidden;
  background-color: #f8f8f8;
}

@media screen and (min-width: 451px) {
  .sidenav.open {
    width: 180px;
  }

  .sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 0; /* default is closed */
    height: 100%;
    overflow-x: hidden;
    background-color: #eee8e8;

    box-shadow: 0 0 2px #eee8e8;
    z-index: 30;
    transition: width 0.3s ease;
    padding-top: 60px;
  }
}
