.reset-password-container {
  max-width: 55rem;
  margin: 0 auto;
}

.reset-heading {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: rgb(87, 84, 84);
}

.reset-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.reset-input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.reset-button {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.reset-button:hover {
  background-color: #45a049;
}

.message {
  font-size: 14px;
  color: green;
  margin-top: 10px;
  text-align: center;
}

@media screen and (min-width: 510px) and (max-width: 890px) {
  .reset-password-container {
    max-width: 55rem;
    margin: 0 auto;
  }

  .reset-heading {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: rgb(87, 84, 84);
  }

  .reset-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }

  .reset-input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  .reset-button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  .reset-button:hover {
    background-color: #45a049;
  }

  .message {
    font-size: 14px;
    color: green;
    margin-top: 10px;
    text-align: center;
  }
}

@media screen and (min-width: 890px) {
  .reset-password-container {
    max-width: 55rem;
    margin: 0 auto;
  }

  .reset-heading {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: rgb(87, 84, 84);
  }

  .reset-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }

  .reset-input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  .reset-button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  .reset-button:hover {
    background-color: #45a049;
  }

  .message {
    font-size: 14px;
    color: green;
    margin-top: 10px;
    text-align: center;
  }
}
