.right-sidenav {
  left: auto;
  right: 0;
  width: 0;
  transition: width 0.3s ease;
}

.rightNavAnchor {
  text-align: center;
}

/* Custom popup container */
.rating-popup {
  background: #f9f9f9;
  border-radius: 6px;
  width: 75vw;
}

/* Title */

/* Submit button */
.rating-submit-btn {
  margin-top: 15px;
  padding: 8px 16px;
  background: darkgoldenrod;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}
.rating-submit-btn:hover {
  background: darkorange;
}

.success-popup_for_rating {
  background: #f9f9f9;
  border-radius: 6px;
  font-size: 1rem;
  width: 75vw;
}

@media screen and (min-width: 510px) and (max-width: 890px) {
  .right-sidenav {
    left: auto;
    right: 0;
    width: 0;
    transition: width 0.3s ease;
  }

  .rightNavAnchor {
    text-align: center;
    margin-right: 2rem;
  }

  /* Custom popup container */
  .rating-popup {
    background: #f9f9f9;
    border-radius: 6px;
    width: 60vw;
  }

  /* Title */

  /* Submit button */
  .rating-submit-btn {
    margin-top: 15px;
    padding: 8px 16px;
    background: darkgoldenrod;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }
  .rating-submit-btn:hover {
    background: darkorange;
  }

  .success-popup_for_rating {
    background: #f9f9f9;
    border-radius: 6px;
    font-size: 1rem;
    width: 60vw;
  }

  .sidenav.right-sidenav {
    width: 0;
    transition: width 0.3s ease;
    overflow: hidden; /* optional */

    background-color: #eee8e8;

    box-shadow: 0 0 2px #eee8e8;
  }

  .sidenav.right-sidenav.open {
    width: 180px;
  }
}

@media screen and (min-width: 890px) {
  .rating-popup {
    background: #f9f9f9;
    border-radius: 6px;
    width: 40vw;
  }

  .success-popup_for_rating {
    background: #f9f9f9;
    border-radius: 6px;
    font-size: 1rem;
    width: 40vw;
  }
}
