.right-sidenav {
  left: auto;
  right: 0;
  width: 0;
  transition: width 0.3s ease;
}

.rightNavAnchor {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.2s;
  text-align: justify;
}

/* Custom popup container */
.rating-popup {
  background: #f9f9f9;
  border-radius: 6px;
  width: 75vw;
}

/* Title */

/* Submit button */
.rating-submit-btn {
  margin-top: 15px;
  padding: 8px 16px;
  background: darkgoldenrod;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}
.rating-submit-btn:hover {
  background: darkorange;
}

.success-popup_for_rating {
  background: #f9f9f9;
  border-radius: 6px;
  font-size: 1rem;
  width: 75vw;
}

.sidenav.right-sidenav {
  width: 0;
  transition: width 0.3s ease;
  overflow: hidden; /* optional */

  background-color: #eee8e8;

  box-shadow: 0 0 2px #eee8e8;
}

.sidenav.right-sidenav.open {
  width: 120px;
}

@media screen and (min-width: 510px) and (max-width: 890px) {
  .right-sidenav {
    left: auto;
    right: 0;
    width: 0;
    transition: width 0.3s ease;
  }

  .rightNavAnchor {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.2s;
    text-align: justify;
  }

  /* Custom popup container */
  .rating-popup {
    background: #f9f9f9;
    border-radius: 6px;
    width: 25rem;
  }

  /* Title */

  /* Submit button */
  .rating-submit-btn {
    margin-top: 15px;
    padding: 8px 16px;
    background: darkgoldenrod;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }
  .rating-submit-btn:hover {
    background: darkorange;
  }

  .success-popup_for_rating {
    background: #f9f9f9;
    border-radius: 6px;
    font-size: 1rem;
    width: 25rem;
  }

  .sidenav.right-sidenav {
    width: 0;
    transition: width 0.3s ease;
    overflow: hidden; /* optional */

    background-color: #eee8e8;

    box-shadow: 0 0 2px #eee8e8;
  }

  .sidenav.right-sidenav.open {
    width: 120px;
  }
}

@media screen and (min-width: 890px) {
  .right-sidenav {
    left: auto;
    right: 0;
    width: 0;
    transition: width 0.3s ease;
  }

  .rightNavAnchor {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.2s;
    text-align: justify;
    transform: translateX(10%);
  }

  .rightNavAnchor:hover {
    background-color: #575757;
    color: khaki;
  }

  /* Custom popup container */
  .rating-popup {
    background: #f9f9f9;
    border-radius: 6px;
    width: 25rem;
  }

  /* Title */

  /* Submit button */
  .rating-submit-btn {
    margin-top: 15px;
    padding: 8px 16px;
    background: darkgoldenrod;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }
  .rating-submit-btn:hover {
    background: darkorange;
  }

  .success-popup_for_rating {
    background: #f9f9f9;
    border-radius: 6px;
    font-size: 1rem;
    width: 25rem;
  }

  .sidenav.right-sidenav {
    width: 0;
    transition: width 0.3s ease;
    overflow: hidden; /* optional */

    background-color: #eee8e8;

    box-shadow: 0 0 2px #eee8e8;
  }

  .sidenav.right-sidenav.open {
    width: 180px;
  }

  /* delete success pop up */
  .delete-popup {
    background: #f9f9f9;
    border-radius: 6px;
    width: 19rem;
    height: 19rem;
    margin: 0 auto;
  }

  .delete-popup-title {
    margin-top: 0.2rem;
    font-size: 1.5rem;
  }

  .delete-popup-warning-icon {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 0.7rem;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 1rem;
    background-color: snow;
  }

  /* delete success pop up error*/
  .delete-popup-error {
    background: #f9f9f9 !important;
    border-radius: 6px !important;
    width: 20rem !important;
    height: 20rem !important;
    margin: 0 auto !important;
  }

  .delete-popup-error-title {
    margin-top: 0.2rem !important;
    font-size: 1.5rem !important;
  }

  .delete-popup-error-icon {
    font-size: 0.8rem !important;
    margin: 0 auto !important;

    position: relative !important;
    top: 1rem !important;
    background-color: snow !important;
  }
}
