body {
  background: white;
}

.heading {
  position: relative;
  top: 4rem;
  font-size: 1.5rem;
  color: rgb(62, 59, 59);
}
.subjects {
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
  min-height: 100vh;
}

.subject_container {
  margin-top: 4rem;
  margin-inline: 1rem;
}

.subject_container ul {
  column-count: 2; /* Number of columns */
  column-gap: 3rem; /* Space between columns */
  margin-inline: 1rem;
}

.subject_container li {
  break-inside: avoid; /* Prevent items from splitting oddly */
  margin-bottom: 0.7rem;
}

.anchor {
  text-decoration: none;
  color: rgb(14, 111, 143);
  font-size: 1;

  cursor: pointer;
  background: snow;
}

.subjectsFooter {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #eee8e8;
  text-align: center;
}

@media screen and (min-width: 510px) and (max-width: 890px) {
  .heading {
    position: relative;
    top: 4rem;
    font-size: 2rem;
    color: rgb(62, 59, 59);
  }

  .subWrapper {
    max-width: 35rem;
    margin: 0 auto;
  }
  .subjects {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 25rem;
    margin: 0 auto;
  }

  .subject_container {
    margin-top: 4rem;

    margin-inline: 1.5rem;
  }

  .subject_container ul {
    column-count: 2; /* Number of columns */
    column-gap: 3rem; /* Space between columns */
    margin-inline: 1rem;
  }

  .subject_container li {
    break-inside: avoid; /* Prevent items from splitting oddly */
    margin-bottom: 0.7rem;
  }

  .anchor {
    text-decoration: none;
    color: rgb(14, 111, 143);
    font-size: 1.2rem;
    cursor: pointer;
    background: snow;
  }

  .subjectsFooter {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #eee8e8;
    text-align: center;
  }
}
@media screen and (min-width: 890px) {
  .heading {
    position: relative;
    top: 4rem;
    font-size: 2rem;
    color: rgb(62, 59, 59);
  }

  .subWrapper {
    max-width: 55rem;
    margin: 0 auto;
  }
  .subjects {
    display: flex;

    max-width: 45rem;
    min-height: 100vh;

    margin-left: 1rem;
    margin: 0 auto;
  }

  .subject_container {
    margin-top: 4rem;
    margin-inline: 1rem;
  }

  .subject_container ul {
    column-count: 5; /* Number of columns */
    column-gap: 5rem; /* Space between columns */
  }

  .subject_container li {
    break-inside: avoid; /* Prevent items from splitting oddly */
    margin-bottom: 0.7rem;
  }

  .anchor {
    text-decoration: none;
    color: rgb(14, 111, 143);
    font-size: 1.2rem;
    cursor: pointer;
    background: snow;
  }

  .subjectsFooter {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #eee8e8;
    text-align: center;
  }
}
