.subject_Container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  min-height: 100vh;
  background: rgb(234, 220, 203);
}

.subjectDocumentsFooter {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #eee8e8;
  text-align: center;
}

.subjectDocumentsFooter > :first-child {
  cursor: pointer;
}

.grade {
  display: flex;
  flex-wrap: wrap;

  box-shadow: black;
  color: black;
  border: none;
  cursor: pointer;

  justify-content: center;
  align-items: center;
  margin-top: 4.2rem;

  background: rgba(248, 248, 248, 0.9);
  border-color: rgba(248, 248, 248, 0.9);
  border-radius: 4px;
  margin-inline: 1rem;
}

.docs_container {
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;

  padding: 0 1rem;
  background: #eee8e8;
}

.radio-popup {
  position: inherit;
  top: 8rem;
  width: 60%;
  height: 30%;
  background-color: (248, 248, 248, 0.9) !important;
}

.radio-title {
  text-align: left;

  color: black;
  font-weight: 100;
}

.swal2-radio {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  gap: 1.5rem !important;
  background-color: transparent !important;
  position: relative;

  right: 1rem;
}

.swal2-radio label {
  font-size: 15px !important;
  color: black;
}

/*  */

@media screen and (min-width: 451px) {
  .subject_Container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem auto;
    max-width: 55rem;

    min-height: 100vh;
  }

  .subjectDocumentsFooter {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #eee8e8;
    text-align: center;
  }

  .subjectDocumentsFooter > :first-child {
    cursor: pointer;
  }

  .grade {
    box-shadow: black;
    color: black;
    border: none;
    cursor: pointer;

    width: 30%;
    margin: 4.2rem auto;

    margin-bottom: 0.3rem;
    background: rgba(248, 248, 248, 0.9);
    border-color: rgba(248, 248, 248, 0.9);
    border-radius: 4px;
  }

  .docs_container {
    display: flex;
    flex-direction: column;
    margin: 0.3rem auto;
    max-width: 55rem;
    padding: 0 1rem;
    background-color: transparent;
  }

  .radio-popup {
    position: inherit;
    top: 8rem;
    width: 60%;
    height: 30%;
    background-color: (248, 248, 248, 0.9) !important;
  }

  .radio-title {
    text-align: left;

    color: black;
    font-weight: 100;
  }

  .swal2-radio {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 1.5rem !important;
    background-color: transparent !important;
    position: relative;

    right: 1rem;
  }

  .swal2-radio label {
    font-size: 15px !important;
    color: black;
  }
}
