body {
  background: white;
}

.heading {
  position: relative;
  top: 4rem;
  font-size: 1.5rem;
  color: rgb(62, 59, 59);
}
.subjects {
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.subject_container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.subject_container ul {
  display: flex;

  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;

  width: 90vw;
}

.anchor {
  text-decoration: none;
  color: rgb(14, 111, 143);
  font-size: 1.2rem;
  cursor: pointer;
  background: snow;
}

.subjectsFooter {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #eee8e8;
  text-align: center;
}

@media screen and (min-width: 460px) and (max-width: 637px) {
  .heading {
    position: relative;
    top: 4rem;
    font-size: 2rem;
    color: rgb(62, 59, 59);
  }

  .subWrapper {
    max-width: 30rem;
    margin: 0 auto;
  }
  .subjects {
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 25rem;
    margin: 0 auto;
  }

  .subject_container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-inline: 1.5rem;
  }

  .subject_container ul {
    display: flex;

    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

    width: 100%;
    margin: 0 auto;
  }

  .anchor {
    text-decoration: none;
    color: rgb(14, 111, 143);
    font-size: 1.2rem;
    cursor: pointer;
    background: snow;
  }

  .subjectsFooter {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #eee8e8;
    text-align: center;
  }
}
@media screen and (min-width: 637px) {
  .heading {
    position: relative;
    top: 4rem;
    font-size: 2rem;
    color: rgb(62, 59, 59);
  }

  .subWrapper {
    max-width: 55rem;
    margin: 0 auto;
  }
  .subjects {
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 55rem;
  }

  .subject_container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .subject_container ul {
    display: flex;

    justify-content: flex-start;
    gap: 3rem;
    flex-wrap: wrap;

    width: 70%;
    margin: 0 auto;
  }

  .anchor {
    text-decoration: none;
    color: rgb(14, 111, 143);
    font-size: 1.2rem;
    cursor: pointer;
    background: snow;
  }

  .subjectsFooter {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #eee8e8;
    text-align: center;
  }
}
