.subject_Container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  min-height: 100vh;
  background: rgb(234, 220, 203);
}

.subjectDocumentsFooter {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #eee8e8;
  text-align: center;
}

.subjectDocumentsFooter > :first-child {
  cursor: pointer;
}
