.file-upload-head {
  top: 0;
  position: fixed;
  background-color: #eee8e8;

  box-shadow: 0 0 2px #eee8e8;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
  gap: 0.5rem;
  max-width: 100vw;
  margin: 0 auto;
  z-index: 10;
}

.file-upload-head h2 {
  margin: 0;
  margin-right: 1rem;
  margin-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.f-upload-hamburger {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  flex-shrink: 0;
}

.f-upload-shortcuts {
  display: none;
}

/* Tablets */
@media screen and (min-width: 510px) and (max-width: 890px) {
  .file-upload-head {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    gap: 0.5rem;
    max-width: 35rem;
    margin: 0 auto;
    z-index: 10;
  }

  .file-upload-head h2 {
    margin: 0;
    margin-right: 1rem;
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .f-upload-hamburger {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    flex-shrink: 0;
  }

  .f-upload-shortcuts {
    display: none;
  }
}

@media screen and (min-width: 890px) {
  .file-upload-head {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    gap: 2rem;
    z-index: 10;

    width: 100%; /* ✅ make it responsive */
    max-width: 53rem; /* ✅ cap it */
    margin: 0 auto; /* ✅ center it */
    flex-shrink: 1;

    min-width: 0;

    height: 4.5rem;

    border-radius: 10px;
  }
  .file-upload-head h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
    cursor: pointer;
    min-width: 0;
    margin-right: 0;
    letter-spacing: 1px;
    height: 2rem;
  }

  .f-upload-shortcuts {
    display: flex;

    align-items: center;
    gap: 2rem;
    white-space: nowrap;
    flex-shrink: 1;
    min-width: 0;
    margin-left: auto;
  }

  .f-upload-shortcuts p {
    text-align: center;
    cursor: pointer;
    font-weight: 550;
    letter-spacing: 1px;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 10px;
    border-color: hsla(289, 29%, 81%, 0.819);
    color: black;
    font-size: 0.8rem;
  }

  .f-upload-shortcuts p:hover {
    background-color: snow;
  }

  .f-upload-hamburger {
    display: flex;
    flex-shrink: 1;
    margin-right: 1rem;
    min-width: 0;

    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    flex-shrink: 0;
  }
}
