.s-big-header {
  top: 0;
  position: fixed;
  background-color: #eee8e8;

  box-shadow: 0 0 2px #eee8e8;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;

  gap: 0.5rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  z-index: 10;
}

.s-small-header {
  top: 0;
  position: fixed;
  background-color: #eee8e8;

  box-shadow: 0 0 2px #eee8e8;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;

  gap: 0.5rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  z-index: 10;
}

.s-para,
.s-shortcuts,
.s-pc-screen-search,
.s-pc-screen-search-allowed {
  display: none;
}

.s-s2t-heading {
  margin: 0;
  margin-right: 1rem;
  margin-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.s-menu-icon {
  font-size: 40px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  flex-shrink: 0;
}

.search-icon {
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px;
  flex-shrink: 0;
}

.search-icon img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/* Tablets */
@media screen and (min-width: 510px) and (max-width: 890px) {
  .s-big-header {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    display: flex;

    flex-flow: row nowrap;
    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    margin: 0 auto;
    z-index: 10;
    width: 100%;
    max-width: 40rem;
    min-width: 0;
  }

  .s-small-header {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    display: flex;

    flex-flow: row nowrap;
    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    margin: 0 auto;
    z-index: 10;
    width: 100%;
    max-width: 40rem;
    min-width: 0;
  }

  .s-para,
  .s-shortcuts,
  .s-pc-screen-search,
  .s-pc-screen-search-allowed {
    display: none;
  }

  .s-s2t-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;

    margin-right: 0;
    min-width: 0;
    cursor: pointer;
  }

  .s-menu-icon {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    flex-shrink: 0;
  }

  .search-icon {
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px;
    flex-shrink: 0;
  }

  .search-icon img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 890px) {
  .s-big-header {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    display: flex;
    gap: 1rem;
    flex-flow: row nowrap;
    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    margin: 0 auto;
    z-index: 10;
    width: 100%;
    max-width: 60rem;
    min-width: 0;
  }

  .s-small-header {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    display: flex;

    flex-flow: row nowrap;
    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    margin: 0 auto;
    z-index: 10;
    width: 100%;
    max-width: 55rem;
    min-width: 0;
  }

  .s-s2t-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;

    margin-right: 0;
    min-width: 0;
    cursor: pointer;
  }

  .s-menu-icon {
    display: flex;
    flex-shrink: 1;
    margin-right: 1rem;
    min-width: 0;
  }

  .search-icon {
    display: none;
  }

  .s-shortcuts {
    display: flex;

    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    white-space: nowrap;
    flex-shrink: 1;
    min-width: 0;
    margin-left: auto;
    position: relative;
    right: 1rem;
  }

  .s-shortcuts p {
    cursor: pointer;
  }

  .s-shortcuts p:hover {
    color: navy;
    font-size: 20px;
  }

  .s-para {
    display: block;
    cursor: pointer;
    position: relative;
    right: 3rem;
  }

  .s-para:hover {
    color: navy;
    font-size: 20px;
  }

  .s-pc-screen-search {
    display: flex;
    flex-shrink: 1;
    justify-content: flex-start;

    position: relative;
    right: 0.5rem;
    border: solid rgb(244, 226, 244);
    border-radius: 4px;
    min-width: 0;
  }

  .s-pc-screen-search-form {
    background-color: rgb(235, 229, 235);
    display: flex;
    border-radius: 8px;
    flex-shrink: 1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    min-width: 0;
  }

  .s-pc-screen-search-form input {
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    width: 11rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .s-pc-screen-search-form input::placeholder {
    text-align: justify;
    font-size: 1rem;
  }

  .s-pc-screen-search-form button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(248, 235, 250);
    text-overflow: hidden;
  }

  .s-pc-screen-search-form img {
    height: 40px;
    width: 40px;
    align-self: center;
    padding: 10px;
    color: black;
    background: white;
    flex-shrink: 1;
    min-width: 0;
  }

  .s-pc-screen-search-allowed {
    display: flex;
    flex-shrink: 1;
    justify-content: flex-start;

    position: relative;

    border: solid rgb(244, 226, 244);
    border-radius: 4px;
    margin: 0 auto;
  }

  .s-pc-screen-search-form-allowed {
    background-color: rgb(235, 229, 235);
    display: flex;

    border-radius: 8px;
    flex-shrink: 1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    min-width: 0;
  }

  .s-pc-screen-search-form-allowed input {
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    width: 18rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .s-pc-screen-search-form-allowed input::placeholder {
    text-align: center;
    font-size: 1.2rem;
  }

  .s-pc-screen-search-form-allowed button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(248, 235, 250);
    text-overflow: hidden;
  }

  .s-pc-screen-search-form-allowed img {
    height: 40px;
    width: 40px;
    align-self: center;
    padding: 10px;
    color: black;
    background: white;
    flex-shrink: 1;
    min-width: 0;
  }
}
