.sub-parent {
  background-color: rgb(234, 220, 203);
  margin: 0 auto;
}

.subject-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  min-height: 100vh;
  background: rgb(234, 220, 203);
}

.subjectDocumentsFooter {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #eee8e8;
  text-align: center;
  margin: 0 auto;
}

.subjectDocumentsFooter p {
  padding: 1rem;
  font-weight: 600;
}

.docs-container {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 4px;
  margin-block-start: 0;
  padding: 0 1rem;
}

.g-popover {
  display: block;
  margin: 0 auto;
  margin-block-start: 4.6rem;

  padding: 5px;
  max-width: 300px;
}

@media screen and (min-width: 510px) and (max-width: 890px) {
  .sub-parent {
    background-color: rgb(234, 220, 203);
  }

  .subject-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 0.2rem;
    max-width: 40rem;

    min-height: 100vh;
  }

  .subjectDocumentsFooter {
    margin-top: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #eee8e8;
    text-align: center;
    max-width: 35rem;
  }

  .subjectDocumentsFooter p {
    padding: 1rem;
    letter-spacing: 1px;
  }

  .docs-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 55rem;
    padding: 0 1rem;
    background-color: transparent;
  }

  .g-popover {
    display: block;
    margin: 0 auto;
    margin-block-start: 4.9rem;
    max-width: 300px;
    padding: 5px;
  }
}
/*  */

@media screen and (min-width: 890px) {
  .sub-parent {
    background-color: rgb(234, 220, 203);
    margin: 0 auto;
  }
  .subject-container {
    display: flex;
    flex-direction: column;

    max-width: 60rem;
    min-height: 100vh;
    margin: 0 auto;
  }

  .subjectDocumentsFooter {
    margin-top: auto;
    max-width: 50rem;
    margin: 0 auto;

    background-color: #eee8e8;
    text-align: center;
  }

  .subjectDocumentsFooter p {
    padding: 1rem;
    letter-spacing: 1px;
  }

  .docs-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 55rem;
    padding: 0 1rem;
    background-color: transparent;
  }

  .g-popover {
    display: block;
    margin: 0 auto;
    margin-block-start: 4.8rem;
  }
}
