.file-moderation-head {
  top: 0;
  position: fixed;
  background-color: #eee8e8;

  box-shadow: 0 0 2px #eee8e8;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
  gap: 0.5rem;
  max-width: 100vw;
  margin: 0 auto;
  z-index: 10;
}

.file-moderation-head h2 {
  margin: 0;
  margin-right: 1rem;
  margin-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.f-moderation-hamburger {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  flex-shrink: 0;
}

.f-moderation-shortcuts {
  display: none;
}

/* Tablets */
@media screen and (min-width: 510px) and (max-width: 890px) {
  .file-moderation-head {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    gap: 0.5rem;
    max-width: 35rem;
    margin: 0 auto;
    z-index: 10;
  }

  .file-moderation-head h2 {
    margin: 0;
    margin-right: 1rem;
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .f-moderation-hamburger {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    flex-shrink: 0;
  }

  .f-moderation-shortcuts {
    display: none;
  }
}

@media screen and (min-width: 890px) {
  .file-moderation-head {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    gap: 2rem;
    z-index: 10;

    width: 100%; /* ✅ make it responsive */
    max-width: 53rem; /* ✅ cap it */
    margin: 0 auto; /* ✅ center it */
    flex-shrink: 1;

    min-width: 0;
  }
  .file-moderation-head h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
    cursor: pointer;
    min-width: 0;
    margin-right: 0;
  }

  .f-moderation-shortcuts {
    display: flex;

    align-items: center;
    gap: 2rem;
    white-space: nowrap;
    flex-shrink: 1;
    min-width: 0;
    margin-left: auto;
  }

  .f-moderation-shortcuts p {
    cursor: pointer;
  }

  .f-moderation-shortcuts p:hover {
    color: navy;
    font-size: 20px;
  }

  .f-moderation-hamburger {
    display: flex;
    flex-shrink: 1;
    margin-right: 1rem;
    min-width: 0;

    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    flex-shrink: 0;
  }
}
