.subjects-header {
  top: 0;
  position: fixed;
  background-color: #eee8e8;

  box-shadow: 0 0 2px #eee8e8;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;

  gap: 0.5rem;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  z-index: 10;
}

.subjects-s2t-heading {
  margin: 0;
  margin-right: 1rem;
  margin-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-weight: bold;
}

.subjectHeader-menu-icon {
  font-size: 40px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  flex-shrink: 0;
}

.search-icon {
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px;
  flex-shrink: 0;
}

.search-icon img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.upload-icon {
  display: none;
}

.subject-pc-screen-search {
  display: none;
}

.login_create {
  display: none;
}

.file-moderation {
  display: none;
}

.reports {
  display: none;
}

.subjects-login-create {
  display: none;
}

/* Tablets */
@media screen and (min-width: 510px) and (max-width: 890px) {
  .subjects-header {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    gap: 0.5rem;
    max-width: 35rem;
    margin: 0 auto;
    z-index: 10;
  }

  .subjects-s2t-heading {
    margin: 0;
    margin-right: 1rem;
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .subjectHeader-menu-icon {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    flex-shrink: 0;
  }

  .search-icon {
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px;
    flex-shrink: 0;
  }

  .search-icon img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  .upload-icon {
    display: none;
  }

  .pc-screen-search,
  .pc-screen-search_logged {
    display: none;
  }

  .login_create {
    display: none;
  }

  .file-moderation {
    display: none;
  }

  .reports {
    display: none;
  }

  .subjects-login-create {
    display: none;
  }
}

@media screen and (min-width: 890px) {
  .subjects-header {
    top: 0;
    position: fixed;
    background-color: #eee8e8;

    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    box-shadow: 0 0 2px #eee8e8;
    backdrop-filter: blur(4px);
    gap: 0.5rem;
    z-index: 10;

    width: 100%; /* ✅ make it responsive */

    max-width: 54rem; /* ✅ cap it */
    margin: 0 auto; /* ✅ center it */
    flex: 1 1 25rem;

    min-width: 0;
  }

  .subjects-s2t-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    flex-shrink: 1;

    min-width: 0;
    cursor: pointer;
    margin-right: 0;
  }

  .subjectHeader-menu-icon {
    display: flex;
    flex-shrink: 1;
    margin-right: 1rem;
    min-width: 0;
  }

  .search-icon {
    display: none;
  }

  .subjects-login-create {
    display: flex;
    position: relative;
    align-items: center;
    gap: 2.5rem;
    right: 1.6rem;
    margin-inline-start: 2.5rem;
    margin-left: auto;
  }

  .subjects-login-create p {
    text-align: center;
    cursor: pointer;
  }

  .subjects-login-create p:hover {
    color: navy;
    font-size: 20px;
  }

  .subject-pc-screen-search {
    display: flex;
    flex-shrink: 1;
    justify-content: flex-start;

    position: relative;
    right: 1rem;
    border: solid rgb(244, 226, 244);

    min-width: 0;
  }

  .subject-pc-screen-search-form {
    background-color: rgb(235, 229, 235);
    display: flex;

    flex-shrink: 1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    min-width: 0;
  }

  .subject-pc-screen-search-form input {
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    width: 11rem;
  }

  .subject-pc-screen-search-form input::placeholder {
    text-align: justify;
    font-size: 1rem;
  }

  .subject-pc-screen-search-form button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(248, 235, 250);
    text-overflow: hidden;
  }

  .subject-pc-screen-search-form img {
    height: 40px;
    width: 40px;
    align-self: center;
    padding: 10px;
    color: black;
    background: white;
    flex-shrink: 1;
    min-width: 0;
  }
}
