.reports-container {
  display: none;
}

@media screen and (min-width: 510px) and (max-width: 890px) {
  .reports-container {
    display: none;
  }
}

@media screen and (min-width: 890px) {
  .reports-container {
    display: flex;
    flex-direction: column; /* Stack heading and form vertically */
    justify-content: center; /* Align form and heading at the top */
    align-items: center;
    min-height: 100vh;
    padding-top: 50px; /* Space above the form to center within the viewport */
    max-width: 55rem;
    margin: 0 auto;
  }

  .reports-table {
    max-width: 90%;
    margin: 50px auto;
    border-collapse: collapse;
  }

  .reports-table th,
  .reports-table td {
    border: 1px solid #d3d3d3;
    padding: 10px;
    text-align: center;
  }

  .reports-table th {
    background-color: #eaeaea;
    font-weight: bold;
  }

  .r-approve-button {
    padding: 2.5px 10px;
    background-color: lightgreen;
    border: solid lightgreen;
    cursor: pointer;
    border-radius: 3px;
  }

  .r-reject-button {
    padding: 2.5px 10px;
    background-color: lightcoral;
    border: solid lightcoral;
    cursor: pointer;
    border-radius: 3px;
  }

  .reportsFooter {
    margin-top: auto !important;
    background-color: #eee8e8;
    text-align: center;
    margin: 0 auto;
    margin-top: 5rem;

    width: 50rem;
  }

  .reportsFooter p {
    padding: 1rem;
    font-weight: 600;
  }

  .no-reports {
    text-align: center;
    font-weight: bold;
    padding: 10px;
  }

  .action-container {
    display: flex;
    gap: 10px;
  }

  .view-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

  .view-button:hover {
    background-color: #0056b3;
  }

  /* pop up for successfully resolving a report */
  .resolve-popup-success {
    background: #f9f9f9 !important;
    border-radius: 6px !important;
    width: 20rem !important;
    height: 20rem !important;
    margin: 0 auto !important;
  }

  .resolve-popup-success-title {
    margin-top: 0.2rem !important;
    font-size: 1.5rem !important;
  }

  .resolve-popup-warning-icon {
    font-size: 0.7rem !important;
  }
}
