/* Basic reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.parent {
  background-color: rgb(234, 220, 203);
}

.App {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  font-family: "MyFont", sans-serif;
  scroll-behavior: smooth;
  background-color: rgb(234, 220, 203);
  max-width: 100vw;
  margin: 0 auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 4.2rem;

  padding: 0 1rem;
  background: rgb(234, 220, 203);
  margin-bottom: 0.3rem;
}

/* Top Buttons */
.login-browse {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.login-button,
.browse-button {
  padding: 0.5rem 1.5rem;
  background-color: rgba(248, 248, 248, 0.9);
  box-shadow: black;
  color: black;
  border: 2px solid;
  border: 1px solid;
  cursor: pointer;
  border-radius: 20px;
  border-color: hsla(289, 29%, 81%, 0.819);
  font-size: 1rem;
  font-weight: 600;
  flex: 1 1;
  max-width: 300px;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 0.5rem;
  margin: 0 auto;
  letter-spacing: 1px;
}

.copyright-App {
  margin-top: 2rem;
  background-color: #eee8e8;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
}

.grade_landingPage {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 45%;
  margin: 0 auto;
  box-shadow: black;
  color: black;
  border: 1px solid;
  cursor: pointer;
  justify-content: center;
  background: rgba(248, 248, 248, 0.9);
  border-color: hsla(289, 29%, 81%, 0.819);
  border-radius: 20px;
  margin-bottom: 0.3rem;
  bottom: 0.1rem;
  padding: 0.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.popup-grades {
  background: #f9f9f9;

  border-radius: 6px;
  width: 70vw;
  margin: 0 auto;
}

.popup-grades-title {
  margin-bottom: 0.8rem;
}

.popup-grades-options {
  margin: 0 auto;
}
/* Tablets */
@media screen and (min-width: 510px) and (max-width: 890px) {
  /* Basic reset */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .parent {
    background-color: rgb(234, 220, 203);
  }

  .App {
    min-height: auto;
    max-width: 30rem;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "MyFont", sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(234, 220, 203);
    flex-shrink: 1;
    min-width: 0;
  }

  .login-browse {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0.5rem;
  }

  .login-button,
  .browse-button {
    padding: 0.5rem 1.5rem;
    background-color: rgba(248, 248, 248, 0.9);
    box-shadow: black;
    color: black;
    border: 1px solid;
    cursor: pointer;
    border-radius: 20px;
    border-color: hsla(289, 29%, 81%, 0.819);
    font-size: 1rem;
    font-weight: 600;
    flex: 1 1;
    max-width: 300px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 0 auto;
  }

  .grade_landingPage {
    position: relative;
    width: 45%;
    margin: 0 auto;

    box-shadow: black;
    color: black;
    border: 1px solid;
    cursor: pointer;

    background: rgba(248, 248, 248, 0.9);
    border-color: hsla(289, 29%, 81%, 0.819);
    border-radius: 20px;
    margin-bottom: 0.3rem;
    bottom: 0.3rem;
    padding: 0.5rem;
    letter-spacing: 1px;
  }

  .popup-grades {
    background: #f9f9f9;

    border-radius: 6px;
    width: 40vw;
    margin: 0 auto;
  }

  .popup-grades-title {
    margin-bottom: 0.8rem;
  }

  .popup-grades-options {
    margin: 0 auto;
  }

  .copyright-App {
    margin-top: 2rem;
    background-color: #eee8e8;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 890px) {
  /* Basic reset */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .parent {
    background-color: rgb(234, 220, 203);
    min-height: 100vh;
    position: relative;
    bottom: 0.6rem;
  }

  .App {
    min-height: auto;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;

    flex-direction: column;
    font-family: "MyFont", sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(234, 220, 203);
    position: relative;
    top: 1.2rem;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    margin: 4.2rem auto;
    max-width: 40rem;
    padding: 0 1rem;
    background-color: rgb(234, 220, 203);
    margin-bottom: 0.3rem;
  }

  .grade_landingPage {
    position: relative;
    min-width: 22rem;
    display: inline-block;

    margin: 0.6rem auto;

    box-shadow: black;
    color: black;
    border: none;
    cursor: pointer;

    background: rgba(248, 248, 248, 0.9);
    border-color: rgba(120, 40, 40, 0.9);
    border-radius: 4px;
    margin-bottom: 0.3rem;
    bottom: 0.1rem;
    padding: 0.5rem;
    font-weight: normal;
  }

  .copyright-App {
    margin-top: 2rem;
    background-color: #eee8e8;
    text-align: center;
    padding: 1rem;
    letter-spacing: 1px;
  }

  .login-browse {
    display: none;
  }

  .login-button,
  .browse-button {
    display: none;
  }

  .popup-grades {
    background: #f9f9f9;

    border-radius: 6px;
    width: 25vw;
    margin: 0 auto;
  }

  .popup-grades-title {
    margin-bottom: 0.8rem;
  }

  .popup-grades-options {
    margin: 0 auto;
  }
}
