@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/TwCenMT.ttf") format("truetype");
}

body {
  font-family: "MyFont", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
