body {
  background: white;
}
.createAccount {
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 3rem auto;
  width: 70%;
}

.register-heading {
  margin-top: 5.5rem;

  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: black;
  letter-spacing: 1px;
}

.createAccountCredentials {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid;
  border-color: hsla(289, 29%, 81%, 0.819);
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.25);
}

.inputCreateAccount {
  height: 2.5rem;
  border-radius: 20px;
  border: 2px solid #eee8e8;
  padding-left: 0.8rem;
  min-width: 100%;
}

.inputCreateAccount:focus {
  border-color: #8c09ff63;
  outline: none;
}

.a-divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: black; /* text color */
  margin: 1em 0;
}

.a-divider::before,
.a-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #eee8e8 !important; /* line style */
}

.a-divider:not(:empty)::before {
  margin-right: 0.75em;
}

.a-divider:not(:empty)::after {
  margin-left: 0.75em;
}

.loginLabel {
  text-decoration: none;
  color: blue;
  cursor: pointer;
  margin-bottom: 2rem;
}

.create_account_Footer {
  margin-top: auto;

  background-color: #eee8e8;
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
}

.create_account_Footer p {
  padding: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.reg-button {
  font-weight: 600;
  background-color: #8c09ff63;
  min-width: 100%;
  box-shadow: 0 0 2px #eee8e8;
  color: black;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 20px;
  letter-spacing: 1px;
}

.c-labels {
  margin-left: 0.8rem;
}
@media screen and (min-width: 510px) and (max-width: 890px) {
  .createAccWrapper {
    max-width: 35rem;
    margin: 0 auto;
    background: white !important;
  }

  .register-heading {
    margin-top: 5.5rem;

    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: black;
    letter-spacing: 1px;
  }

  .createAccount {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 50%;
    margin: 3rem auto;
  }

  .createAccountCredentials {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid;
    border-color: hsla(289, 29%, 81%, 0.819);
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.25);
  }

  .inputCreateAccount {
    height: 2.5rem;
    border-radius: 20px;
    border: 2px solid #eee8e8;
    padding-left: 0.8rem;
    min-width: 100%;
  }

  .inputCreateAccount:focus {
    border-color: #8c09ff63;
    outline: none;
  }

  .a-divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: black; /* text color */
    margin: 1em 0;
  }

  .a-divider::before,
  .a-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #eee8e8 !important; /* line style */
  }

  .a-divider:not(:empty)::before {
    margin-right: 0.75em;
  }

  .a-divider:not(:empty)::after {
    margin-left: 0.75em;
  }

  .loginLabel {
    text-decoration: none;
    color: blue;
    cursor: pointer;
    margin-bottom: 2rem;
  }

  .create_account_Footer {
    margin-top: 5rem;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #eee8e8;
    text-align: center;
  }

  .create_account_Footer:first-child {
    cursor: pointer;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
  }

  .reg-button {
    margin-top: 0.5rem;
    font-weight: 600;
    background-color: #8c09ff63;
    min-width: 100%;
    box-shadow: 0 0 2px #eee8e8;
    color: black;
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 1px;
  }

  .reg-button:hover {
    background-color: #8c09ff63;
  }

  .c-labels {
    margin-left: 0.8rem;
  }
}

@media screen and (min-width: 890px) {
  .createAccWrapper {
    max-width: 55rem;
    margin: 0 auto;
    background: white !important;
  }

  .register-heading {
    margin-top: 5.5rem;

    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: black;
    letter-spacing: 1px;
  }

  .createAccount {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 40%;
    margin: 3rem auto;
  }

  .createAccountCredentials {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    border: 1px solid;
    border-color: hsla(289, 29%, 81%, 0.819);
    padding: 30px 30px;
    border-radius: 20px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.25);
  }

  .inputCreateAccount {
    height: 2.5rem;
    border-radius: 20px;
    border: 2px solid #eee8e8;
    padding-left: 0.8rem;
    min-width: 100%;
  }

  .inputCreateAccount:focus {
    border-color: #8c09ff63;
    outline: none;
  }

  .a-divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: black; /* text color */
    margin: 1em 0;
  }

  .a-divider::before,
  .a-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #eee8e8 !important; /* line style */
  }

  .a-divider:not(:empty)::before {
    margin-right: 0.75em;
  }

  .a-divider:not(:empty)::after {
    margin-left: 0.75em;
  }

  .loginLabel {
    cursor: pointer;
    color: blue;
    margin-bottom: 2rem;
    font-size: 1rem;
  }

  .create_account_Footer {
    margin-top: 5rem;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #eee8e8;
    text-align: center;
  }

  .create_account_Footer:first-child {
    cursor: pointer;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
  }

  .reg-button {
    margin-top: 0.5rem;
    font-weight: 600;
    background-color: #8c09ff63;

    box-shadow: 0 0 2px #eee8e8;
    min-width: 100%;

    color: black;
    padding: 0.6rem 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 1px;
  }

  .reg-button:hover {
    background-color: #8c09ff63;
  }

  .c-labels {
    margin-left: 0.8rem;
    font-size: 1rem;
  }
}
